<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:/Users/mariangeorge/IdeaProjectsUltimate/ClientServerSpringRemoting/CurseHibernate.db</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="Models.Angajat"/>
        <mapping class="Models.Cursa"/>
        <mapping class="Models.Participant"/>
        <mapping class="Models.Echipa"/>
        <mapping class="Models.Inscriere"/>
        <mapping class="Models.DTOBJPartCapa"/>
        <mapping class="Models.DTOBJCursa"/>

    </session-factory>
</hibernate-configuration>
